body{
    background-image: url(https://upload.wikimedia.org/wikipedia/en/8/8c/The_Dresden_Files_2007_Intertitle.png);
    color: #2e6da4;
    fill-opacity: .2;
}

header, footer{
    color: #2e6da4;
    text-align: center;

}
header {
    padding-top: 185px;
    text-shadow: 2px 2px #A7BCCA;
}
main {
    color: #a42d1b;
    text-align: center;

}

footer{
    color: #6b25a4;
    text-align: center;
    font-size: 24px;
    padding-top: 25px;
}





